SOAPTopDownProj/WebContent/wsdl/EmployeeInfoService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.sym.com" xmlns:intf="http://services.sym.com" xmlns:tns1="http://dto.sym.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services.sym.com">
  
  <!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
   
  <wsdl:types>
      
    <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://services.sym.com">
         
      <import namespace="http://dto.sym.com"/>
         
      <element name="getEmployeeInfo">
            
        <complexType>
               
          <sequence>
                  
            <element name="empId" type="xsd:string"/>
                 
          </sequence>
              
        </complexType>
           
      </element>
         
      <element name="getEmployeeInfoResponse">
            
        <complexType>
               
          <sequence>
                  
            <element name="getEmployeeInfoReturn" type="tns1:EmployeeDTO"/>
                 
          </sequence>
              
        </complexType>
           
      </element>
        
    </schema>
      
    <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://dto.sym.com">
         
      <complexType name="EmployeeDTO">
            
        <sequence>
               
          <element name="email" nillable="true" type="xsd:string"/>
               
          <element name="empID" nillable="true" type="xsd:string"/>
               
          <element name="firstName" nillable="true" type="xsd:string"/>
               
          <element name="lastName" nillable="true" type="xsd:string"/>
              
        </sequence>
           
      </complexType>
        
    </schema>
     
  </wsdl:types>
     
  <wsdl:message name="getEmployeeInfoRequest">
          
    <wsdl:part element="impl:getEmployeeInfo" name="parameters">

      </wsdl:part>
       
  </wsdl:message>
     
  <wsdl:message name="getEmployeeInfoResponse">
          
    <wsdl:part element="impl:getEmployeeInfoResponse" name="parameters">

      </wsdl:part>
       
  </wsdl:message>
     
  <wsdl:portType name="EmployeeInfoService">
          
    <wsdl:operation name="getEmployeeInfo">
               
      <wsdl:input message="impl:getEmployeeInfoRequest" name="getEmployeeInfoRequest">

       </wsdl:input>
               
      <wsdl:output message="impl:getEmployeeInfoResponse" name="getEmployeeInfoResponse">

       </wsdl:output>
            
    </wsdl:operation>
       
  </wsdl:portType>
     
  <wsdl:binding name="EmployeeInfoServiceSoapBinding" type="impl:EmployeeInfoService">
          
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
          
    <wsdl:operation name="getEmployeeInfo">
               
      <wsdlsoap:operation soapAction=""/>
               
      <wsdl:input name="getEmployeeInfoRequest">
                    
        <wsdlsoap:body use="literal"/>
                 
      </wsdl:input>
               
      <wsdl:output name="getEmployeeInfoResponse">
                    
        <wsdlsoap:body use="literal"/>
                 
      </wsdl:output>
            
    </wsdl:operation>
       
  </wsdl:binding>
     
  <wsdl:service name="EmployeeInfoServiceService">
          
    <wsdl:port binding="impl:EmployeeInfoServiceSoapBinding" name="EmployeeInfoService">
               
      <wsdlsoap:address location="http://localhost:8081/SOAPTopDownProj/services/EmployeeInfoService"/>
            
    </wsdl:port>
       
  </wsdl:service>
  
</wsdl:definitions>
