SOAPBottomUpProj/WebContent/wsdl/EmployeeInfoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.sym.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.sym.com" xmlns:intf="http://services.sym.com" xmlns:tns1="http://dto.sym.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.sym.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.sym.com"/>
   <element name="addEmployee">
    <complexType>
     <sequence>
      <element name="empId" type="xsd:string"/>
      <element name="firstName" type="xsd:string"/>
      <element name="lastName" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="hireDate" type="xsd:string"/>
      <element name="jobID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addEmployeeResponse">
    <complexType>
     <sequence>
      <element name="addEmployeeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEmployeeInfo">
    <complexType>
     <sequence>
      <element name="empId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEmployeeInfoResponse">
    <complexType>
     <sequence>
      <element name="getEmployeeInfoReturn" type="tns1:EmployeeDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateEmployeeInfo">
    <complexType>
     <sequence>
      <element name="empId" type="xsd:string"/>
      <element name="firstName" type="xsd:string"/>
      <element name="lastName" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="hireDate" type="xsd:string"/>
      <element name="jobID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateEmployeeInfoResponse">
    <complexType>
     <sequence>
      <element name="updateEmployeeInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteEmployee">
    <complexType>
     <sequence>
      <element name="empId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteEmployeeResponse">
    <complexType>
     <sequence>
      <element name="deleteEmployeeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.sym.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="EmployeeDTO">
    <sequence>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="empID" type="xsd:int"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="hireDate" nillable="true" type="xsd:string"/>
     <element name="jobID" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getEmployeeInfoRequest">

      <wsdl:part element="impl:getEmployeeInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateEmployeeInfoResponse">

      <wsdl:part element="impl:updateEmployeeInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addEmployeeResponse">

      <wsdl:part element="impl:addEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteEmployeeResponse">

      <wsdl:part element="impl:deleteEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEmployeeInfoResponse">

      <wsdl:part element="impl:getEmployeeInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addEmployeeRequest">

      <wsdl:part element="impl:addEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateEmployeeInfoRequest">

      <wsdl:part element="impl:updateEmployeeInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteEmployeeRequest">

      <wsdl:part element="impl:deleteEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmployeeInfoService">

      <wsdl:operation name="addEmployee">

         <wsdl:input message="impl:addEmployeeRequest" name="addEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:addEmployeeResponse" name="addEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEmployeeInfo">

         <wsdl:input message="impl:getEmployeeInfoRequest" name="getEmployeeInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEmployeeInfoResponse" name="getEmployeeInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateEmployeeInfo">

         <wsdl:input message="impl:updateEmployeeInfoRequest" name="updateEmployeeInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateEmployeeInfoResponse" name="updateEmployeeInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteEmployee">

         <wsdl:input message="impl:deleteEmployeeRequest" name="deleteEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteEmployeeResponse" name="deleteEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmployeeInfoServiceSoapBinding" type="impl:EmployeeInfoService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEmployeeInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEmployeeInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEmployeeInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateEmployeeInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateEmployeeInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateEmployeeInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmployeeInfoServiceService">

      <wsdl:port binding="impl:EmployeeInfoServiceSoapBinding" name="EmployeeInfoService">

         <wsdlsoap:address location="http://localhost:8081/SOAPBottomUpProj/services/EmployeeInfoService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
